requests==2.32.3
python-dotenv==1.0.1
google-api-python-client==2.154.0
google-auth==2.37.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
pytrends==4.9.2
yt-dlp==2025.1.15
tenacity==8.2.3
pymongo==4.10.1
filelock==3.15.4
google-genai>=1.30.0
cryptography==44.0.2
